.Tutorials {
	margin: 0;
	padding: 5px 5px 5px 0;
	background-color: #cdcdcd;
}

.Tutorials h3 {
	margin: 0 0 0 5px;
	padding: 0;
	font-family: monospace;
	font-size: 20px;
}

.Tutorials h3:last-child {
	margin: 5px 0 0 5px;
}

.Tutorials .TutorialSummary {
	display: inline-block;
	margin: 5px 0 0 5px;
	padding: 5px;
	width: calc(50% - 15px);
	background-color: #fff;
}

.Tutorials .TutorialSummary a {
	margin: 0;
	padding: 0;
	font-family: monospace;
	font-size: 20px;
	text-decoration: none;
	color: #000;
}

.Tutorials .TutorialSummary a:hover {
	text-decoration: underline;
}

.Tutorials .TutorialSummary p {
	margin: 5px 0 0 0;
	padding: 0;
	font-family: monospace;
	font-size: 15px;
}
